.cols{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
img{
    width: 40px;px
}
h2{
   font-size: 10px }
.cols {
    width: 100%;
}
.lara {
        background-color: orange;
        width: 50%;
    }
.daniela {
        background-color: skyblue;
        width: 50%;
    }
.lara,.daniela {
        display: inline-block;
        height: 100%;
        width: fit-content;
    }
