body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://img.pixers.pics/pho_wat(s3:700/FO/10/87/85/26/4/700_FO108785264_66db89a6ab6bae3fd2b7215b3e25c418.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/fotomurales-fondo-transparente-con-iconos-simples-sobre-el-tema-de-las-matematicas-y-el-aprendizaje-marcador-de-color-sobre-fondo-blanco.jpg.jpg");
}
h1{
    font-style: italic;
    color: #05056d;
    font-size: 50;
}
#contacto{color:#cf6400;
    font-size: larger;

}

#foto{
    width: 20%
    border: 1px solid #000000;
    alt: foto; 
    float: :left;
    background: #7e7979af;
    margin-top: 50px;
}
svg{
    float: right;
    margin-top: 50px;
}
#estrella {
  animation: moverEstrella 4s infinite ease-out;
}

@keyframes moverEstrella {
  100% {
    transform: translateX(100px);
  }
}
#círculo{
    float: right;
    margin-top: 50px;
    animation: moveleft 4s infinite ease-out;
}
@keyframes moveleft{            
    0% {transform: translate(40px,0)}
    100% {transform: translate(0,0)}
}
@media screen and (min-width:800px)
{  
}
#paths{
    animation-name: moveleft;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 3s
}
#imagen{
    text-align: center;
    width: 400;
    height:300; 
    border:10px; 
    alt:"eminem"
}
.texto{
    font-size: 30;
    color: #05056d;
}
a{
color: #5e1d5e
}

table{
    width: 100%;
    border: 20px;
    border-color: #a97dce;
    border-width: 10px;  
}

th{
        color:#ffffff;
        background-color:#6f4eab
}

td{
        width: 50%;
        text-align: center;
        color:#000000;
        background-color: #d89ad3;
}
tr{
        width: 50%;
        height: 50px;
}
h3,h2{
        background-color:#a39ec2;
        font-size: 60;

}

td {
        border-color: rgb(10, 9, 9);
}

li{
    font-size: 20px;
}

.idc-box {    
    border: 1px solid #aaa;
    background: #7e7979af;
    display: table;
    font-size: 95%;
    margin-bottom: 10px;
    padding: 20px;
    width: auto; 
} 
.idc-box .idc-titulo {    
    font-weight: 700;
    text-align: center;
} 
            
.idc-box li, .idc-box ul, .idc-box ul li{   
    padding: 0 5px;    
    list-style: outside none none;
}
footer{
    margin-left: -2cm;
    margin-right: -2cm;
}

#imagen{
    width: 50px;
    float: right;
    margin-top: 25px;
}
.correo{
    text-align: right;
    margin-top: 30px;
}
#birrete{
    align-items: left;
    width: 100px;
    height: 100px;
    vertical-align: text-bottom; 

}
.nombre{
    text-align: left;

}

#imagen{
    width: 50px;
    float: right;
    margin-top: 25px;
    
}
#correo{
    text-align: right;
    margin-top: 30px;
}
#birrete{
    align-items: left;
    width: 100px;
    height: 100px;
    vertical-align: text-bottom; 
}
.nombre{
    text-align: left;
}
div{
    background: #7e7979d5;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    height: 150px;
 }
footer p{
    margin-top: 60px;
    font-size: 25px;
}
 #correo{
    margin-top: 60px;
}
footer a img#imagen{
    width: 90px;
    margin-top: 30px;
}
#about{
    width:15%
}
@media (max-width: 800px) {
  header {
    display: none;
  }
}
